{
    "mqtt": {
        "host": "example.com",
        "topic": "ding",
        "username": "ding",
        "password": "s3cr3t"
    },
    "sound": "pulseaudio",
    "bell": "bell.ogg",
    "special_alerts": {
        "keyword": "soundfile.mp3"
    }
}
